body {
  background: #f8f9fa;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 220px;
  object-fit: cover;
}

.table img {
  object-fit: cover;
}

#loading {
  display: none;
}

@media (max-width: 576px) {
  h2 {
    font-size: 22px;
  }

  .navbar-brand {
    font-size: 18px;
  }
}
